@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  /* overflow-y: hidden; */
}

body {
  overflow-y: hidden;
}
.App {
  display: flex;
}

.App .left {
  width: calc(50% - 0px);
  height: 100vh;
}

.App .right {
  background: #c6abeb;
  width: calc(50% + 50px);
  border-left: 100px solid #ffffff;
  border-bottom: 665px solid transparent;
}
